body {
  color: black;
  background-color: rgb(229, 226, 202);
  font-size: 18px
}

header{
  border-bottom: solid 2px rgb(177, 166, 96);
  padding: 10px;
  font-size: 28px;
  color: rgb(255, 165, 0)
}
