body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(169, 169, 169);
    padding: 20px;
    font-size: 32px;
    color: rgb(169, 169, 169);
}

section {
    background: rgb(240, 12, 54);
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
